<div class="step current">
  <div class="group">
    <%= render "govuk_publishing_components/components/heading", {
      text: "#{@current_question_number}. #{@current_question}",
      padding: true,
      font_size: 19
    } %>
    <%= body %>
  </div>
</div>
