<div class="step current">
  <div class="current-question group">
    <h2>
      <span class="question-number"><%= @current_question_number %></span><%= @current_question %>
    </h2>
    <%= body %>
  </div>
</div>

