<%- if @upcoming_questions.present? %>
  <div class="upcoming-questions">
    <ol>
      <%- @upcoming_questions.each_with_index do |question, index| %>
        <li class="upcoming">
          <%= render "govuk_publishing_components/components/heading", {
            text: "#{@current_question_number + index + 1}. #{question}",
            padding: true,
            font_size: 19,
            heading_level: 3
          } %>
        </li>
      <%- end -%>
    </ol>
  </div>
<%- end -%>
