<%- if @upcoming_questions.present? %>
  <div class="upcoming-questions">
    <ol>
      <%- @upcoming_questions.each_with_index do |question, index| %>
        <li class="upcoming">
          <h3 class="question">
            <span class="question-number"><%= @current_question_number + index + 1 %></span><%= question %>
          </h3>
        </li>
      <%- end -%>
    </ol>
  </div>
<%- end -%>
