
<h3>Selected sectors:</h3>
<ul>
  <% @sectors.each do |sector| %>
    <li><%= sector.name %></li>
  <% end %>
</ul>

<h3>Activities:</h3>
<ul id="activities">
  <% @activities.each do |activity| %>
    <li><%= activity.name %></li>
  <% end %>
</ul>
