<%= render partial: 'completed_questions' %>

<div class="article-container">
  <article class="results">
    <div class="inner group">
      <% if @licences.empty? %>
        <p>
          No licences were found that match your search.
        </p>
        <p class="get-started">
          <%= link_to sectors_path, :class => "big button" do %>
            Start again <span class="indicator"></span>
          <% end %>
        </p>
      <% else %>
        <h2>Licences you may need to apply for:</h2>
        <% if ! @licences.all? { |licence| licence.published? } %>
          <p class="hint">
            Further information may not yet be available for some licences.
          </p>
        <% end %>
        <ul>
          <% @licences.each do |licence| %>
            <li>
              <%= render :partial => 'licence', :object => licence %>
            </li>
          <% end %>
        </ul>

      <% end %>
    </div>
  </article>
</div>
