<%= render partial: 'completed_questions' %>

<div class="article-container">
  <article class="results">
    <div class="inner group">
      <h2>Licences you need to apply for:</h2>

      <% if @licences.empty? %>
        <p>No licences</p>
      <% else %>
      <ul>
        <% @licences.each do |licence| %>
          <li>
            <%- if licence.published? -%>
              <%= link_to licence.title, licence.url %>
              <p><%= licence.short_description %></p>
            <%- else -%>
              <%= licence.title %>
            <%- end -%>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </article>
</div>
