<%= render partial: 'completed_questions' %>

<div class="article-container">
  <article class="results">
    <div class="inner group">
      <h2>Selected Licences:</h2>

      <ul>
        <% @licences.each do |licence| %>
          <li><%= licence.name %></li>
        <% end %>
      </ul>
    </div>
  </article>
</div>
