<div class="article-container group">
  <article role="article" class="group">
    <div class="inner">
      <div class="intro">
        <p>You may need a licence to operate legally if you are:</p>
        <ul>
          <li>a business</li>
          <li>planning certain activities</li>
        </ul>
        <p>Use this tool to find out which licences you need to apply for. </p>
        <p class="get-started">
        <%= link_to sectors_path, :class => "big button" do %>
          Get started <span class="indicator"></span>
        <% end %>
        </p>
      </div>
    </div>
  </article>
</div>
