<% content_for :page_class do %>start-page<% end %>

<div class="article-container group">
  <article role="article" class="group">
    <div class="inner">
      <div class="intro">
        <p>You may need a licence for:</p>
        <ul>
          <li>some business activities</li>
          <li>other activities, eg street parties</li>
        </ul>
        <p>Use this tool to find out which licences you may need.</p>
        <p class="get-started">
        <%= link_to sectors_path, :class => "big button" do %>
          Get started <span class="indicator"></span>
        <% end %>
        </p>
      </div>
    </div>
  </article>
</div>
