/*
 *= require smart-answers
 *= require_self
 */

li.done .answer {
  background-color: transparent;
  display: inline-block;
  width: 60%;
}

li.done .answer ul {
  display: inline;
  padding: 0;
}

li.done .answer ul li {
  background-color: #4F6F5E;
  /*display: inline-block;*/
  margin-bottom: 0.25em;
  padding: 0 0.25em;
  /*width: 60%;*/
}

li.done h3 {
  display: block;
  margin-bottom: 0.5em;
}


.upcoming-questions ol {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.upcoming-questions ol > li {
  list-style: none;
  position: relative;
  padding: 0.5em 1.5em 0.5em 5em;
}

.upcoming-questions ol > li.upcoming {
  background: #f0e7d7;
  border-bottom: solid 1px #dac39c;
  overflow: hidden;
}

.upcoming-questions ol > li.upcoming:last-child {
  border-bottom: none;
}

.upcoming-questions .question-number {
  font-weight: normal;
}
li.upcoming h3 {
  display: inline;
  font-size: 1em;
  margin: 0 0.5em 0 0;
}

.business-sector-results, .business-activity-results, .search-container {
    float: left;
    margin-right: 5%;
    width: 50%;
}

.business-sector-picked, .business-activity-picked {
    background-color: #96c6e2;
    float: left;
    padding: 1em 5%;
    width: 35%;
}
.business-sector-picked ul li, .business-activity-picked ul li {
    list-style-type: disc;
}

.search-picker li {
    list-style-type: disc;
}