$govuk-typography-use-rem: false;

@import "govuk_publishing_components/all_components";

/* see multi-step.css.erb in the static repo for most of these styles */

/* Fixes an override from govuk-template */
a:link {
  &:focus {
    @include govuk-focused-text;
  }
}

#content {
  margin-bottom: govuk-spacing(3);
}

.lf--start-again {
  text-align: right;

  .govuk-link {
    padding: govuk-spacing(3) govuk-spacing(6) 0 govuk-spacing(6);
    margin-right: govuk-spacing(2);
    @include govuk-font(19);
  }
}

#search-sectors {
  margin-left: 0;
}

.search-picker ul,
.picked-items ul {
  padding-left: 2.1em;
}

.article-container.finished,
header.page-header hgroup {
  margin-right: 0;
  padding-right: 0;
}

.step.current {
  margin-right: 0;
  padding-right: 1em;
}

.step.current .hint:first-child {
  margin-top: 0.25em;
}

a.remove,
a.add {
  float: right;
  text-align: right;
  padding-left: 1%;
  width: 24%;

}

.search-picker li:nth-child(even),
#sector-navigation ul ul li:nth-child(even) {
  background-color: #f8f7ee;
}

.search-picker li.selected,
#sector-navigation ul ul li.selected {
  background-color: #D5ECEA;
}

.picked-items {
  background-color: #d5ecea;
  padding: 0.5em 0 1.5em 0;
  width: 38%;
  overflow: hidden;


  @include govuk-media-query($until: tablet) {
    width: auto;
  }

  h3,
  ul,
  p {
    padding-left: 1em;
    padding-right: 1em;
  }

  h3 {
    @include govuk-font(19);
  }

  ul {
    margin-top: 0.75em;
    margin-bottom: 0.75em;

    li {
      @include govuk-font(14);

      &:nth-child(even) {
        background-color: #e8f0f0;
      }

      a {
        float: right;
        padding-left: 0.25em;

        &.add,
        &.remove {
          padding-left: 1%;
        }
      }
    }
  }

  .button-container {
    margin: 1.5em 1em 1em;
    text-align: right;
  }
}

.search-picker ul {
  margin: 0 0 0 -2.4em;
}

.picked-items ul li,
.search-picker ul li {
  @include govuk-font(16);
  padding: 0.25em 0.3em;
  margin-bottom: 0.25em;
  list-style-type: none;
  overflow: hidden; /* contain floats */
  zoom: 1;

  a {
    float: right;
    width: 22%;
    padding-left: 1%;
    text-align: right;
  }
}

#sector-navigation ul li span,
.search-picker ul li span,
.picked-items ul li span {
  line-height: 1.8;
  width: 73%;
}

.browse-container,
.search-container {
  clear: left;
  float: left;
  width: 57%;
  margin-right: 4%;


  @include govuk-media-query($until: tablet) {
    width: auto;
    float: none;
  }
}

.browse-container {
  margin-top: 1.25em;

  .or-browse {
    margin-top: 0;
  }

  .inner {
    padding: 0;
  }

  h3 {
    @include govuk-font(19);
    margin-top: 0;
  }
}

/* sector navigation widget */
#sector-navigation,
#sector-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}

#sector-navigation {
  @include govuk-font(16);
  @include govuk-media-query($until: tablet) {
    margin-bottom: 1em;
  }

  li {
    @include govuk-font(16);
    display: block;
    margin: 0.5em 0;
    zoom: 1;
    clear: both; /* clear under floated "add" links */

    &.open > a {
      background-position: 0 -86px;
    }

    &.open ul {
      padding-left: 1em;
    }

    a {
      background-image: image-url("expand-collapse-arrow.png");
      background-position: 0 5px;
      background-repeat: no-repeat;
      padding-left: 1em;

      &.remove,
      &.add {
        background-image: none;
        padding-left: 1%;
        line-height: 1.6;
      }
    }
  }

  ul ul li {
    padding: 0 0.25em;
  }
}

.find-location-for-service {
  margin-bottom: 2em;
  margin-right: 23em;

  label, input {
    @include govuk-font(19);
  }

  @include govuk-media-query($until: tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

article.outcome {
  /* we don't need min-height on licence-finder */
  min-height: 0;

  h2:first-child {
    margin-top: 0;
  }
}
